{% extends 'base.html.twig' %}

{% block title %}Générateur attestion de confinement{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! </h1>

    <h2>Bienvenue sur le générateur d'attestation de confinement</h2>

    <p>
        Ce site a pour vocation de vous aider à générer votre attestation de confinement suite à la crise
        du COVID 19.
    </p>

    {{ form(form) }}
</div>
{% endblock %}
